#dashboard-user{
 position: fixed;
 height: 100vh;
 width: 100vw;
 min-width: 700px;
 background-color: transparent;
 
 nav{
     position:absolute;
     top:0%;
     width: calc(100% - 250px);
     left:250px;
     z-index: 1;
     height: 10vh;
     min-height: 50px;
     background-color: rgb(0,0,0,50%);
     border-radius: 0;
     filter: grayscale(10%);
    
    img{
        display: none;
    }
 }

 .navbar{
     height: fit-content;
     margin-top: 20px;
     
     p{
         padding: 0;
         font-weight: bold;
         color: $secondary_color;
        }
    }
    
}



.background{
    position: absolute;
    height: 100%;
    width: 100%;
    width: inherit;
    z-index: -1;
    background-image:
    linear-gradient(to right,rgb(0,0,0) 95%,transparent 95%),
    linear-gradient(to bottom, transparent 80%,$color_4 80%,$color_4 90%,transparent 90%),
    linear-gradient(to bottom,transparent 90%, $color_2 90%),
    linear-gradient(to right,transparent 95%,$color_1 95%);
    background-color: rgb(100, 100, 100);
    filter: opacity(95%);
}

.dash-body{
    position: absolute;
    display:flex;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    min-height: 500px;
    border-radius: 0;
    min-width: 100%;
    align-items: center;
    border-radius: 0;
}


.module-body,.welcome{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-end;
    align-self:flex-end;
    height: 100%;
    width: 75%;
    margin-left: 20px;
}


.summary{
    overflow-y: scroll;
    height: 90%;
    width: 500px;
    padding: 20px;
    background-color: $color_5;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    -ms-overflow-style: none;
    scrollbar-width: none;
    

    h2,p,h3{
        margin-bottom: 25px;
    }
    
    img{
        height: 40%;
        width: 30%;
        min-width: 200px;
        float: right;
        border-radius: 5px;
    }

    h3{
        font-weight: 300;
        color: $color_1;
    }

    h2{
        text-decoration: underline;
        font-weight: 500;
        text-align: center;
    }

    iframe{
        display: block;
        width: 450px;
        height: 350px;
        margin: auto;
        border: none;
    }

}


/* Hide scrollbar for Chrome, Safari and Opera */
.summary::-webkit-scrollbar {
    display: none;
}



.welcome{
    background-image: url('https://images.unsplash.com/photo-1546410531-bb4caa6b424d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80');
    background-size: cover;
    width: 85%;
    margin-left: 0;
}


.module-enter {
    opacity: 0;
    transform: translateY(1000px);
}

.module-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: transform 500ms ease-in-out;
}

.module-exit {
    opacity: 1;
    transform: translateX(0);
}

.module-exit-active {
    transform: translateX(-2000px);
    transition: transform 500ms
    ease-in-out;
}

.utility{
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    height: 85%;
    width: 500px;

    &>div{
        height: 50%;
    }


    &>:nth-child(2){
        display: flex;
        flex-direction:column;

        h3{
            color:$secondary_color;
            margin: auto;
            color:$color_3;

            span{
                font-size: 12px;
                color: $secondary_color;
            }
        }

    }
}

.assessments{
    height: 100%;
    width: 100%;
    background-color:$secondary_color;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

    h1{
        font-size: 24px;
    }
}

.quiz-form{
    padding: 15px;
    h1{
        text-align: center;
    }
    form{
        height: 40%;
        width: 80%;
        //padding: 0 0 0 20px;
        margin: auto;

        p{
            margin: 0;
            padding: 0;
        }

        h6{
            margin: 15px;
        }
        
        input{
            margin: 0 5px 5px 15px;
            display: inline;
        }

        button, input[type=submit]{
            font-size: 12px;
            height:fit-content;
            padding: 5px;
            border: 2px outset grey;
        }

        span{
            margin-left: 20px;
        }

        h5{
            display: inline;
            letter-spacing: 2px;
            font-weight: 500;
        }
    }

   
}